/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Custom CSS*/

/*comment section css*/
body {
    background: #ebeef0;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

    .panel .panel-footer, .panel > :last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .panel .panel-heading, .panel > :first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.panel-body {
    padding: 25px 20px;
}


.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: ghostwhite;
    margin-left: 25px;
    margin-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm > .tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}

.text-sm {
    font-size: 0.9em;
}

.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

    .btn-sm, .btn-group-sm > .btn, .btn-icon.btn-sm {
        padding: 5px 10px !important;
    }

.mar-top {
    margin-top: 15px;
}

.pad-ver{
    padding-bottom: 5px;
}
/*comment section css*/

.custom-black-button {
    background-color: black;
    border: none;
    color: #929292;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .custom-black-button:hover {
        background-color: #000000db;
        text-decoration: none;
        color: #cfcbcb;
    }

.error-img {
    text-align: center;
    margin-bottom: 10px;
}

.error-notfound {
    font-size: 5.9375rem;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.error-notfound-msg {
    font-size: 1.125rem;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

/*overwrite bootstrap classes*/
.btn-primary {
    color: #fff;
    background-color: #266bb4;
    border-color: #007bff;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #929292;
}

    .dropdown-item:hover {
        color: #181418;
        background-color: #4c484826;
    }

.navbar-light .navbar-brand {
    color: rgb(146, 146, 146);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(146, 146, 146, 45);
}

.text-info {
    color: #d8216d!important;
    cursor: pointer;
}
/*overwrite bootstrap classes*/

.disabled-stars {
    pointer-events: none;
    color: gray;
}

.active-stars {
    cursor: pointer;
}

.home-logo {
    font-weight: 700;
    font-family: revert;
}

.search-field {
    background-color: #343a40;
    color: #929292;
    border: 2px solid #929292;
}

.container-custom {
    padding: 2rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.table-image td {
    vertical-align: middle;
}

.table-image th {
    vertical-align: middle;
}

.buy-button {
    margin: 25px 1px;
}
/*Custom CSS*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
