/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Custom CSS*/
.homepage-button {
    background-color: black;
    border: none;
    color: #929292;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .homepage-button:hover {
        background-color: #000000db;
        text-decoration: none;
        color: white;
    }

.error-img {
    text-align: center;
    margin-bottom: 10px;
}

.error-notfound {
    font-size: 5.9375rem;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.error-notfound-msg {
    font-size: 1.125rem;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

/*overwrite bootstrap classes*/
.navbar-light .navbar-brand {
    color: rgb(146, 146, 146);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(146, 146, 146, 45);
}

.text-info {
    color: #d8216d!important;
    cursor: pointer;
}
/*overwrite bootstrap classes*/

.disabled-stars {
    pointer-events: none;
    color: gray;
}

.active-stars {
    cursor: pointer;
}

.home-logo {
    font-weight: 700;
    font-family: revert;
}

.search-field {
    background-color: #343a40;
    color: #929292;
    border: 2px solid #929292;
}

.container-custom {
    padding: 2rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.table-image td {
    vertical-align: middle;
}

.table-image th {
    vertical-align: middle;
}

.buy-button {
    margin: 25px 1px;
}
/*Custom CSS*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
