@{
    this.ViewData["Title"] = "Empty category";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
</head>
<div class="error-img">
    <img src="~/img/error.jpg" alt="errorImage" width="250" />
</div>
<div class="error-notfound">Oops!</div>
<div class="error-notfound-msg">This category seems to be empty.</div>
<div class="text-center"><a class="homepage-button" asp-controller="Home" asp-action="Index">Go to homepage</a></div>
